.count-exp-section {
  margin-bottom: 20px;
}

.count-card {
  background: rgb(171, 238, 171);
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid green;
}

.count-label {
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin-bottom: 8px;
}

.count-number {
  font-size: 32px;
  font-weight: bold;
  color: black;
}